// colors

$color1: #1b3b6f;
$color2: #065a82;
$color3: #1c7293;
$color4: #9eb3c2;
$color6: #21295c;
$color7: #ff0033;

// font weight

$light: 300;
$bold: 700;

//https://coolors.co/21295c-1b3b6f-065a82-1c7293-9eb3c2